body{
    text-align: center;
    font-family: 'Macondo';
    background-color: #FFD59E;
}

h1, h2{
    color: rgb(202, 41, 41);
}

.fa-drum{
    color: blueviolet;
}

.fa-moon{
    color: rgb(194, 194, 40);
    font-size: larger;
}

.btns{
    margin: 10% auto;
}

.btn{
    height: 150px;
    width: 150px;
    font-size: 100px;
    font-family: 'Macondo';
    color:rgb(255, 0, 0);
    font-weight: 2000;
    text-shadow: 4px 4px 6px #fff;
} 

.pressed{
    box-shadow: 0px 3px 4px #DBEDF3;
    opacity: 0.5;
}

.w{
    background-image: url("images/drum1.png");
}

.a{
    background-image: url("images/drum2.png");
}

.s{
    background-image: url("images/drum3.png");
}

.d{
    background-image: url("images/metalPlate.png");
}

.j{
    background-image: url("images/drum4.png");
}

.k{
    background-image: url("images/drum5.png");
}

.l{
    background-image: url("images/drum6.png");
}

footer{
    font-size: larger;
    color: rgb(48, 97, 187);
}

